.box{
  height: 200px;
  width: 200px;
  background-color: #ffff99;
  float: left;
  margin: 10px 10px;
  text-align: center;
  font-size: 50px;
  padding: 50px;
}

.WinnerMes{
  font-size: 60px;
  font-weight: bold;
}
